<!doctype html>
<html lang="en" ng-app id="ng-app">
	<head>
		<title>JobSwipe</title>
		<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="main.css">

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
		<script>
		function PostsCtrlAjax($scope, $http)
		{
			$http({method: 'GET', url: 'offers.json'}).success(function(data)
			{
		$scope.offers = data.offers; // response data
		$scope.offer_index = 0;
		$scope.offer = {};
		$scope.next = function () {
		if ($scope.offer_index >= $scope.offers.length - 1) {
			$scope.offer_index = 0;
		} else {
			$scope.offer_index++;
		}
		console.log($scope.offers.length + '/' + $scope.offer_index);
		};
		$scope.choose = function (offer) {
			$scope.favs += offer.title;
			$scope.next();
		}
		});
		}
		</script>
	
	</head>
	<body>
		<div id="ng-app" ng-app ng-controller="PostsCtrlAjax" class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h3>JobSwipe</h3>
					<h6>powered by jobbox api. ps: jobbox doesn't have an api </h6>
					<br>
									</div>
			</div>
			<div class="row">
			
			<span ng-repeat="offer in offers">
				<div class="card new_lifted" ng-if="offer_index == $index" style="background:#fff;">
					<div class="upper" style="">
						<h4> <a href='{{offer.url}}?inviter=Tsw75Yt8TCaGqRZz6eFONQ'>{{offer.title}}</a> </h4>
						<h5>{{offer.company_name}} </h5>
					<img ng-src="{{offer.company_logo_url}}" class="main-image" style="width:30%; height:auto; margin:0 auto;"/>
					</div>
					<div class="lower">
						<div class='time'>{{offer.city}} - {{offer.country}}</div>
						<hr>
						<h6>Skills</h6>
						<ul class="nav nav-pills text-center">
						  <small class=""><a href="#">{{offer.tags.0}}</a></small>
						  <small class=""><a href="#">{{offer.tags.1}}</a></small>
							<small class=""><a href="#">{{offer.tags.2}}</a></small>

						</ul>
					<hr>
				

					<div class="row">
						<div class="col-md-12">
							<button ng-click="next()" class="btn btn-danger " style="width:160px; float:left; border-radius:0px;">This Sucks</button>
						
						
							<button ng-click="choose(offer)" class="btn btn-success " style="width:160px;border-radius:0px; float:left;">Good One</button>
						</div>
					</div>
					</div>
				</div>
				</span>


			
			</div>
			<div class="row">
				<div class="col-md-4">
				<h6>Liked Jobs</h6>
				<ul>
					<li>
						{{favs}}
					</li>
				</ul>
				</div>
			</div>
		
	</div>
</body>
</html>